# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Fumiya Shigemitsu
	email = gyro.scaremonger@gmail.com
[core]
editor = vim
excludesfile = ~/.gitignore
[alias]
	gl = log --graph
